* {margin:0;padding:0;box-sizing:border-box;}
header {
	background-image: url(../images/hero08.png);
	background-repeat: no-repeat;
	background-size: cover;
	height: 70vh;
	margin: 10px;
	width: 1200px;
}
h2 {text-decoration: underline;
	font-weight: bolder;
	font-size: 27px;
	}
#logo {
	padding: 18px;
}

#create {
	font-size: 62px;
	font-weight: bold;
	font-family: 'Overpass', sans-serif;
	color: #f15a24;

}
#future {
	font-size: 30.2px;
	color: #fff;
}
#through {
	font-size: 64px;
	color: #fff;
	font-family: 'Overpass', sans-serif;
}
#building {
	font-size: 27px;
	color: #fff;
}
#green {
	font-size: 26.5px;
	color: #fff;
}
#smart {
	font-size: 38.2px;
	font-weight: bold;
	font-family: 'Overpass', sans-serif;
	color: #f15a24;
}

article {
    width: 1200px;
    height: 355px;
    margin: 10px auto;
    padding-bottom: 15px;
}

#about {
	font-size: 25px;
	line-height: 38px;
	color: #021226;
	text-align: justify;
	width: 70%;
	float: left;
	padding-right: 70px;

}
#splash {
	line-height: 35px;
	text-align: center;
	padding-top: 30px;
	background: #021226;
	display: block;
	width: 30%;
	height: 300px;
	float: left;
}
#welcome {
	font-family: 'Overpass', sans-serif;
	text-align: center;
	padding: 15px;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	line-height: 1.5;
	/* margin: 2em; */
}
nav {
	float: right;

    
}

nav a {
	font-size: 30px;
	font-family: 'Fira Sans Extra Condensed', sans-serif;
	color: #fff;
	padding-right: 40px;
	padding-top: 20px;
	text-decoration: none;
	display: block;
	float: right;
}
nav a:hover { 
  color: #f15a24; 
}
#service-clients {
	width: 650px;
	text-align: center;
	height: 300px;
	padding-top: 15px;
	clear: both;
     margin: 10px auto;
	
}
#service {
	font-size: 25px;
    color: #000;
    float: left;
    /* padding-left: 200px; */
    width: 50%;
    text-align: left;
    line-height: 30px;
}

#clients {
	font-size: 25px;
    color: #000;
    float: right;
    /* padding-left: 200px; */
    width: 50%;
    text-align: left;
    line-height: 30px;
   
}

#projects {
	width: 1200px;
	text-align: left;
	margin: 2.7em auto;
	padding:.25em
}
#depaul {
	text-align: center;
	width: 25%;
	float: left;

}
#marianos {
	text-align: center;
	/* padding-left: 100px; */
	width: 25%;
	float: left;
	/* margin-left: 1.8em; */
}
#metra {
	text-align: center;
	/* padding-left: 100px; */
	width: 25%;
	float: left;
	/* margin-left: 1.8em; */
}
#wholefoods {
	text-align: center;
	/* padding-left: 100px; */
	width: 25%;
	float: left;
	/* margin-left: 1.8em; */
}

.projects-content {
	text-decoration: none;
	text-align: right;
	color: #021226;
	font-size: 18px;
	width: 50px;
	
}

address {
	line-height: 200px;
}


footer {
    color: #fff;
    background-color:  #021226;
	clear: both;
	/* padding-left: 100px; */
	padding-top: 100px;
	width: 1200px;
	height: 125px
}
#copyright {
	font-size: 14px;
	text-align: center;

}
#projects img {
    width: 200px;

}
#projects div {
    padding:.25em
}

ul {
    padding-left: 1.25em;
}

footer a {
    color: inherit;
}
hr {
	width: 1200px;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
