* { margin:0; padding:0; box-sizing:border-box; }


body {
	font-family: palatino,georgia,serif;
	font-size: 18px;
	line-height: 1.5;
	margin: 2em;
}
section {
    padding: 4em 0;
}

#nav {
	text-align: right;
	font-size: 25px;
	font-weight: bold;
	color: #094a96;
}
#service {
    color: #000;
}
#splash {
	background-image: url(images/hero02.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}


#clients {
    color: #000;
}

#footer {
    color: #094a96;
}
#copyright {
	font-size: 14px;
	text-align: center;

}
.contemporary-projects {

}